body{
    margin: 0;
    background-color: rgb(209, 117, 145);
}
form.custom-search-form {
    display: fixed;
}
  
  .custom-search-input {
    border: 2px solid #FF69B4; /* Cor rosa */
    left: 4px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .custom-search-button {
    background-color: #FF69B4; /* Cor rosa */
    right:  4px;
    color: #fff; /* Cor do texto branco para contraste */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .custom-search-button:hover {
    background-color: #FF1493; /* Cor rosa mais escura quando hover */

}
.divizinha {
    position: fixed;
    left: 50%;
    transform: translate(-50%)
}

.tab-lateral {
    position: fixed;
    left: calc(100% - 300px);
    height: 100%;
    width: 300px;
    color: white;
    background-color: black;
    transition: left, ease 2s;
   

}
.open {
    left: 100%;
}